body {
	background-color: #EEEEEE;
}

.BodySection {
	width : 80%;
	height : 100%;
	margin-left : auto;
	margin-right : auto;
	margin-top : 10px;
	margin-bottom : 10px;
}

.Profile-TopCard {
	background-color: White;
	
}

.FullName {
	color : CornFlowerBlue;
	font-size : 35px;
	font-weight : bold;
	margin-left : 15px;
	margin-bottom : 10px;
	margin-top : 10px;
}

.Jobs {
	font-size : 17px;
	margin-left : 15px;
}

.Email {
	font-size : 17px;
	margin-left : 15px;
}

.Address {
	font-size : 17px;
	margin-left : 15px;
}

.HeaderSection
{
	background-color: White;
	
	font-size : 15px;
	box-shadow: 2px 2px 5px black;
	margin-top : 15px;
	margin-bottom : 15px;
	padding-left : 30px;
	padding-right : 30px;
	padding-top : 10px;
	padding-bottom : 10px;
}

.Header {
	font-size : 20px;
	font-weight : bold;
	padding-top : 15px;
	padding-bottom : 15px;
	margin-top : 0px;
	margin-bottom : 0px;
}

.summaryContent {
	font-size : 15px;
	margin-top : 0px;
	margin-bottom : 0px;
	padding-top : 15px;
	padding-bottom : 15px;
}

.Education {
	position: relative;
}

.University {
	font-size : 20px;
	font-weight : bold;
	margin-top : 0px;
	margin-bottom : 0px;
	padding-top : 15px;
	padding-bottom : 15px;
}

.Major {
	font-size : 15px;
	color : gray;
	margin-top : 0px;
	margin-bottom : 0px;
	padding-top : 5px;
	padding-bottom : 5px;
}

.Period {
	font-size : 15px;
	color : gray;
	margin-top : 0px;
	margin-bottom : 0px;
	padding-top : 5px;
	padding-bottom : 5px;
}

.UAddress {
	font-size : 15px;
	color : gray;
	margin-top : 0px;
	margin-bottom : 0px;
	padding-top : 5px;
	padding-bottom : 5px;
}

.UniversityLogo {
	width : 40%;
	height : 100%;
	position : absolute;
	margin-top : 0px;
	margin-bottom : 0px;
	padding-top : 15px;
	padding-bottom : 5px;
	top : 0px;
	right : 0px;
}

.Logo {
	width : 40%;
	height : 60%;
}

.SkillBox {
	background-color : gray;
	margin-left : 5px;
	margin-right : 5px;
	margin-top : 5px;
	margin-bottom : 5px;
	float : left;
}

.ParentBox {
	overflow: hidden;
	margin-top : 10px;
	margin-bottom : 10px;
}

.SkillButton {
	padding-top : 5px;
	padding-bottom : 5px;
	padding-left : 10px;
	padding-right : 10px;
}

.LanguageName {
	font-size : 20px;
	font-weight : bold;
	margin-top : 0px;
	margin-bottom : 0px;
	padding-top : 10px;
	padding-bottom : 10px;
}

.LanguageSummary {
	font-size : 15px;
	color : gray;
	margin-top : 0px;
	margin-bottom : 0px;
	padding-top : 0px;
	padding-bottom : 0px;
}

.LanguagesBox {
	width: 33%;
	float : left;
}

.ProjectName {
	font-size : 20px;
	font-weight : bold;
	margin-top : 0px;
	margin-bottom : 0px;
	padding-top : 10px;
	padding-bottom : 10px;
}

.ProjectSub {
	font-size : 15px;
	color : gray;
	margin-top : 0px;
	margin-bottom : 0px;
	padding-top : 0px;
	padding-bottom : 0px;
}
.Edit {
	font-size : 15px;
	color : blue;
}

.Edit:link {
    text-decoration: none;
}

.Edita:visited {
    text-decoration: none;
}

.Edit:hover {
    text-decoration: underline;
}

.Edit:active {
    text-decoration: underline;
}

.thumb{
    width:150px;
    height:150px;
    margin:5px;
}

.Company{
	font-size : 20px;
	font-weight : bold;
	margin-top : 0px;
	margin-bottom : 0px;
	padding-top : 15px;
	padding-bottom : 15px;
}

.CompTitle {
	font-size : 18px;
	color : CornFlowerBlue;
	margin-top : 0px;
	margin-bottom : 0px;
	padding-top : 5px;
	padding-bottom : 5px;
	font-weight : bold;
}