<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title>1312094 - Nguyễn Minh Dũng</title>
	<meta charset='utf-8'/>
	<link rel="stylesheet" type="text/css" href="css/editSettings.css">
	<script type="text/javascript" src="scripts/angular.js"></script>		
	<script type="text/javascript" src="scripts/nicEdit.js"></script>
	<script type="text/javascript" src="scripts/edit.js"></script>
</head>
<body ng-controller="myCtrl">
	<div class = "Profile">  
		<table>
			<th>
				<div class="Image-upload">
					<label class = "As" for="file-input">
						<img ng-src="{{aglProfile}}"/>
					</label>

					<input id="file-input" type="file" ng-model-instant onchange="angular.element(this).scope().imageUpload(this)"/>
					
					<span class = "ImgDescription"> Edit Photo </span> 
				</div>
			</th>
			
			<th>
				<div class = "EditZone">
					<input class = "BigSizeText" type="text" ng-model="aglFullName" ng-readonly="checked">
					<label for="checkbox-input0">
						<img src = "images/edit.png"/>
					</label>
					<input class = "HiddenCheckbox"  id = "checkbox-input0" type="checkbox" ng-model="checked">
				</div>

				
				<div class = "EditZone">
					<input class = "SmallSizeText" type="text" ng-model="aglJob" ng-readonly="checked1">
					<label for="checkbox-input1">
						<img src = "images/edit.png"/>
					</label>
					<input class = "HiddenCheckbox"  id = "checkbox-input1" type="checkbox" ng-model="checked1">
				</div>			
				
				<div class = "EditZone">
					<input class = "SmallSizeText" type="text" ng-model="aglEmail" ng-readonly="checked3">
					<label for="checkbox-input3">
						<img src = "images/edit.png"/>
					</label>
					<input class = "HiddenCheckbox"  id = "checkbox-input3" type="checkbox" ng-model="checked3">
				</div>

				<div class = "Space">
					<select class = "comboBoxAddress" id="Country" name ="Country" ng-model = "aglSelectedCountry" ng-change="UpdateState()">
						<option ng-selected="{{country == aglAddressNation}}"
								ng-repeat="country in aglCountries"
								value="{{country}}">
								{{country}}
						</option>					
					</select>
					
					<select class = "comboBoxAddress" name ="State" id ="State" ng-model = "aglAddressState">
						<option ng-selected="{{state == aglAddressState}}"
								ng-repeat="state in aglSelectedStates"
								value="{{state}}">
								{{state}}
						</option>	
					</select>
				</div>
				
				<div>
					<select class = "comboBoxAddress" name ="Nationality" id ="Nationality" ng-model="aglNationality">
						<option ng-selected="{{nationality == aglNationality}}"
								ng-repeat="nationality in aglNationalities"
								value="{{nationality}}">
								{{nationality}}
						</option>
					</select>
				</div>
			</th>
		</table>
	</div>
	
	<div class = "HeaderSection">
		<div>
			<p class = "Header"> Summary </p>
			<div class = "Summary">
				<textarea id="area1" class = "TextSummary" ng-model = "aglSummary"></textarea> 
			</div>
		</div>
	</div>
	
	<div class = "HeaderSection">
		<div>
			<p class = "Header"> Education </p>
			
			<p> School name </p>
			<input type = "text" />
			
			<p> Major </p>
			<input type = "text" />

			<p> Period </p> 
			<div>
				<div> </div>
				<select class = "" ng-model="aglStartMonth">
					<option ng-selected="{{$index == -1}}"
							ng-repeat="month in aglMonthList"
							value="{{month}}">
							{{month}}
					</option>
				</select>
				
				<select class = "" ng-model="aglStartYear">
					<option ng-selected="{{$index == -1}}"
							ng-repeat="year in aglYearList"
							value="{{year}}">
							{{year}}
					</option>
				</select>
				 - 
				<select class = "" ng-model="aglEndMonth">
					<option ng-selected="{{$index == -1}}"
							ng-repeat="month in aglMonthList"
							value="{{month}}">
							{{month}}
					</option>
				</select>
				
				<select class = "" ng-model="aglEndYear">
					<option ng-selected="{{$index == -1}}"
							ng-repeat="year in aglYearList"
							value="{{year}}">
							{{year}}
					</option>
				</select>
			</div>
			
			<p> Place </p>
			<div class = "">
					<select class = "" id="Country" name ="Country" ng-model = "aglSelectedCountry" ng-change="UpdateState()">
						<option ng-selected="{{country == aglAddressNation}}"
								ng-repeat="country in aglCountries"
								value="{{country}}">
								{{country}}
						</option>					
					</select>
					
					<select class = "" name ="State" id ="State" ng-model = "aglAddressState">
						<option ng-selected="{{state == aglAddressState}}"
								ng-repeat="state in aglSelectedStates"
								value="{{state}}">
								{{state}}
						</option>	
					</select>
			</div>
		</div>	
	</div>
	
	<div class = "HeaderSection">
		<div>
			<p class = "Header"> Experience </p>
			
			<p> Company name </p>
			<input type = "text" />
			
			<p> Title </p>
			<input type = "text" />
			
			<p> Place </p>
			<input type = "text" />
			
			<div>
			<p> Period </p>
			<select class = "" ng-model="aglStartMonth">
				<option ng-selected="{{$index == -1}}"
						ng-repeat="month in aglMonthList"
						value="{{month}}">
						{{month}}
				</option>
			</select>
			
			<select class = "" ng-model="aglStartYear">
				<option ng-selected="{{$index == -1}}"
						ng-repeat="year in aglYearList"
						value="{{year}}">
						{{year}}
				</option>
			</select>
			 - 
			<select class = "" ng-model="aglEndMonth">
				<option ng-selected="{{$index == -1}}"
						ng-repeat="month in aglMonthList"
						value="{{month}}">
						{{month}}
				</option>
			</select>
			
			<select class = "" ng-model="aglEndYear">
				<option ng-selected="{{$index == -1}}"
						ng-repeat="year in aglYearList"
						value="{{year}}">
						{{year}}
				</option>
			</select>
			</div>
			
			<p> Description </p>
			<textarea id="area3" class = "TextSummary" ng-model = "aglDescibeExperience">
				
			</textarea> 
		</div>
	</div>
	
	<div class = "HeaderSection">
		<div>
			<p class = "Header"> Projects </p>
			
			<p> Project name </p>
			<input type = "text" />
			
			<p> By programming language </p>
			<select class = "" ng-model="aglStartMonth">
					<option ng-selected="{{$index == -1}}"
							ng-repeat="month in aglMonthList"
							value="{{month}}">
							{{month}}
					</option>
				</select>
				
				
			<p> Period </p> 
			<div>
				<select class = "" ng-model="aglStartMonth">
					<option ng-selected="{{$index == -1}}"
							ng-repeat="month in aglMonthList"
							value="{{month}}">
							{{month}}
					</option>
				</select>
				
				<select class = "" ng-model="aglStartYear">
					<option ng-selected="{{$index == -1}}"
							ng-repeat="year in aglYearList"
							value="{{year}}">
							{{year}}
					</option>
				</select>
				 - 
				<select class = "" ng-model="aglEndMonth">
					<option ng-selected="{{$index == -1}}"
							ng-repeat="month in aglMonthList"
							value="{{month}}">
							{{month}}
					</option>
				</select>
				
				<select class = "" ng-model="aglEndYear">
					<option ng-selected="{{$index == -1}}"
							ng-repeat="year in aglYearList"
							value="{{year}}">
							{{year}}
					</option>
				</select>
			</div>
			
			<p> Description </p>
			<textarea id="area3" class = "TextSummary" ng-model = "aglDescibeExperience">
				
			</textarea> 
		</div>
	</div>
	
	<div class = "HeaderSection">
		<div>
			<p class = "Header"> Languages </p>
			<select class = "comboBoxAddress" name ="Lang" id ="Lang" ng-model="aglLanguage">
				<option ng-selected="{{$index == 0}}"
						ng-repeat="lang in aglLanguageList"
						value="{{lang.code}}">
						{{lang.language}}
				</option>
			</select>
						
			<div>
				<textarea id="area2" class = "TextSummary" ng-model = "aglDescibe" placeholder="Describe yourlanguage here...">
				
				</textarea> 
			</div>
			
			<div>
				<input type = "button" value = "Add" ng-click ="AddLanguage()"/>
			</div>
			

		</div>
	</div>
	
	<div class = "HeaderSection">
		<div>
			<p class = "Header"> Skills </p>
			<input list="testList" type="" ng-model="SelectedDoctor" ng-change="LoadSessionData(SelectedDoctor)" placeholder = "Write your skills..."/>
			<datalist id="testList">
				<option ng-repeat="skill in aglSkillCatalog" value="{{skill}}">
			</datalist>
			
			<input type = "button" value = "Add" ng-click ="AddSkill()"/>
		</div>
		
		<div class = "ArrayDecription">
			<div ng-repeat="skill in aglSkills">
				<span class = "buttonWithX">
					{{skill}}
					<span class="close-btn"><a href="#" ng-click = "RemoveSkill($index)">X</a></span>
				</span>
			</div>
		</div>
	</div>	
	
	<div class = "HeaderSection">
		<div>		
			<p class = "Header"> Interests </p>		
			<input list="testList1" type="" ng-model="SelectedDoctor1" ng-change="LoadSessionData(SelectedDoctor1)" placeholder = "Write your interests..."/>
			<datalist id="testList1">
				<option ng-repeat="interest in aglInterestCatalog" value="{{interest}}">
			</datalist>
			
			<input type = "button" value = "Add" ng-click ="AddInterest()"/>
		</div>
		
		<div class = "ArrayDecription">
			<div ng-repeat="interest in aglInterests">
				<span class = "buttonWithX">
					{{interest}}
					<span class="close-btn"><a href="#" ng-click = "RemoveInterest($index)">X</a></span>
				</span>
			</div>
		</div>
	</div>

</body>	