<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title>1312094 - Nguyễn Minh Dũng</title>
	<meta charset='utf-8'/>
	<link rel="stylesheet" type="text/css" href="css/editSettings.css">
	<link rel="stylesheet" type="text/css" href="css/settings.css">
	<script type="text/javascript" src="scripts/angular.js"></script>		
	<script type="text/javascript" src="scripts/nicEdit.js"></script>
	<script type="text/javascript" src="scripts/edit.js"></script>
</head>
<body ng-controller="myCtrl">
	<div class = "Profile">  
		<table>
			<th>
				<div class="Image-upload">
					<label class = "As" for="file-input">
						<img ng-src="{{aglProfile}}"/>
					</label>

					<input id="file-input" type="file" ng-model-instant onchange="angular.element(this).scope().imageUpload(this)"/>
					
					<span class = "ImgDescription"> Edit Photo </span> 
				</div>
			</th>
			
			<th>
				<div class = "EditZone">
					<input class = "BigSizeText" type="text" ng-model="aglFullName" ng-readonly="checked">
					<label for="checkbox-input0">
						<img src = "images/edit.png"/>
					</label>
					<input class = "HiddenCheckbox"  id = "checkbox-input0" type="checkbox" ng-model="checked">
				</div>

				
				<div class = "EditZone">
					<input class = "SmallSizeText" type="text" ng-model="aglJob" ng-readonly="checked1">
					<label for="checkbox-input1">
						<img src = "images/edit.png"/>
					</label>
					<input class = "HiddenCheckbox"  id = "checkbox-input1" type="checkbox" ng-model="checked1">
				</div>			
				
				<div class = "EditZone">
					<input class = "SmallSizeText" type="text" ng-model="aglEmail" ng-readonly="checked3">
					<label for="checkbox-input3">
						<img src = "images/edit.png"/>
					</label>
					<input class = "HiddenCheckbox"  id = "checkbox-input3" type="checkbox" ng-model="checked3">
				</div>

				<div class = "Space">
					<select class = "comboBoxAddress" id="Country" name ="Country" ng-model = "aglSelectedCountry" ng-change="UpdateState()">
						<option ng-selected="{{country == aglAddressNation}}"
								ng-repeat="country in aglCountries"
								value="{{country}}">
								{{country}}
						</option>					
					</select>
					
					<select class = "comboBoxAddress" name ="State" id ="State" ng-model = "aglAddressState">
						<option ng-selected="{{state == aglAddressState}}"
								ng-repeat="state in aglSelectedStates"
								value="{{state}}">
								{{state}}
						</option>	
					</select>
				</div>
				
				<div>
					<select class = "comboBoxAddress" name ="Nationality" id ="Nationality" ng-model="aglNationality">
						<option ng-selected="{{nationality == aglNationality}}"
								ng-repeat="nationality in aglNationalities"
								value="{{nationality}}">
								{{nationality}}
						</option>
					</select>
				</div>
			</th>
		</table>
	</div>
	
	<div class = "HeaderSection">
		<div>
			<p class = "Header"> Summary </p>
			<p ng-show="!showDetails"> {{aglSummary}} </p>
			
			<div class = "Summary" ng-show="showDetails">
				<textarea id="area1" class = "TextSummary" ng-model = "aglSummary"></textarea> 
			</div>
			
			<h4><a href="#" ng-click="showDetails = ! showDetails">
				<span ng-show="!showDetails"> Edit </span>
				<span ng-show="showDetails"> Record </span>
				</a>
			</h4>
		</div>
	</div>
	
	<div class = "HeaderSection">
		<div>
			<p class = "Header"> Education </p>
			
			<div class = "Education" ng-repeat="education in aglEducation">
					<p class = "University"> {{education.university}}</p>
					<p class = "UAddress"> {{education.address}}</p>
					<p class = "Major"> {{education.major}}</p>
					<p class = "Period"> {{education.period}}</p>
					<span class = "UniversityLogo">
						<center>
							<image class = "Logo" ng-src = "{{education.logo}}"/>
						</center>
					</span>
			</div>
				
			<div ng-show="showDetails1" class = "AddSchool">	
			<p> School name </p>
			<input type = "text" />
			
			<p> Major </p>
			<input type = "text" />

			<p> Period </p> 
			<div>
				<div> </div>
				<select class = "" ng-model="aglStartMonth">
					<option ng-selected="{{$index == -1}}"
							ng-repeat="month in aglMonthList"
							value="{{month}}">
							{{month}}
					</option>
				</select>
				
				<select class = "" ng-model="aglStartYear">
					<option ng-selected="{{$index == -1}}"
							ng-repeat="year in aglYearList"
							value="{{year}}">
							{{year}}
					</option>
				</select>
				 - 
				<select class = "" ng-model="aglEndMonth">
					<option ng-selected="{{$index == -1}}"
							ng-repeat="month in aglMonthList"
							value="{{month}}">
							{{month}}
					</option>
				</select>
				
				<select class = "" ng-model="aglEndYear">
					<option ng-selected="{{$index == -1}}"
							ng-repeat="year in aglYearList"
							value="{{year}}">
							{{year}}
					</option>
				</select>
			</div>
			
			<p> Place </p>
			<div class = "">
					<select class = "" id="Country" name ="Country" ng-model = "aglSelectedCountry" ng-change="UpdateState()">
						<option ng-selected="{{country == aglAddressNation}}"
								ng-repeat="country in aglCountries"
								value="{{country}}">
								{{country}}
						</option>					
					</select>
					
					<select class = "" name ="State" id ="State" ng-model = "aglAddressState">
						<option ng-selected="{{state == aglAddressState}}"
								ng-repeat="state in aglSelectedStates"
								value="{{state}}">
								{{state}}
						</option>	
					</select>
			</div>
			</div>
			
			<h4><a href="#" ng-click="showDetails1 = ! showDetails1">
				<span ng-show="!showDetails1"> Edit </span>
				<span ng-show="showDetails1"> Record </span>
				</a>
			</h4>
		</div>	
	</div>
	
	<div class = "HeaderSection">
		<div>
			<p class = "Header"> Experience </p>
			
			<div ng-show="showDetails2" class = "AddSchool">
			<p> Company name </p>
			<input type = "text" />
			
			<p> Title </p>
			<input type = "text" />
			
			<p> Place </p>
			<input type = "text" />
			
			<div>
			<p> Period </p>
			<select class = "" ng-model="aglStartMonth">
				<option ng-selected="{{$index == -1}}"
						ng-repeat="month in aglMonthList"
						value="{{month}}">
						{{month}}
				</option>
			</select>
			
			<select class = "" ng-model="aglStartYear">
				<option ng-selected="{{$index == -1}}"
						ng-repeat="year in aglYearList"
						value="{{year}}">
						{{year}}
				</option>
			</select>
			 - 
			<select class = "" ng-model="aglEndMonth">
				<option ng-selected="{{$index == -1}}"
						ng-repeat="month in aglMonthList"
						value="{{month}}">
						{{month}}
				</option>
			</select>
			
			<select class = "" ng-model="aglEndYear">
				<option ng-selected="{{$index == -1}}"
						ng-repeat="year in aglYearList"
						value="{{year}}">
						{{year}}
				</option>
			</select>
			</div>
			
			<p> Description </p>
			<textarea id="area3" class = "TextSummary" ng-model = "aglDescibeExperience">
				
			</textarea>
			</div>

			<h4><a href="#" ng-click="showDetails2 = ! showDetails2">
				<span ng-show="!showDetails2"> Edit </span>
				<span ng-show="showDetails2"> Record </span>
				</a>
			</h4>			
		</div>
	</div>
	
	<div class = "HeaderSection">
		<div>
			<p class = "Header"> Projects </p>
			
			<div>
				<div ng-repeat="project in aglProjects">
					<div ng-if="$index != 0">
						<hr/>
					</div>
					
					<p class = "ProjectName"> {{project.name}} </p>
					<p class = "ProjectSub"> By {{project.language}}, {{project.period}} </p>

					<p class = "ProjectSummary"> {{project.summary}} </p>
				</div>
			</div>
				
			<div ng-show="showDetails3" class = "AddSchool">
			<p> Project name </p>
			<input type = "text" />
			
			<p> By programming language </p>
			<select class = "" ng-model="aglStartMonth">
					<option ng-selected="{{$index == -1}}"
							ng-repeat="month in aglMonthList"
							value="{{month}}">
							{{month}}
					</option>
				</select>
				
				
			<p> Period </p> 
			<div>
				<select class = "" ng-model="aglStartMonth">
					<option ng-selected="{{$index == -1}}"
							ng-repeat="month in aglMonthList"
							value="{{month}}">
							{{month}}
					</option>
				</select>
				
				<select class = "" ng-model="aglStartYear">
					<option ng-selected="{{$index == -1}}"
							ng-repeat="year in aglYearList"
							value="{{year}}">
							{{year}}
					</option>
				</select>
				 - 
				<select class = "" ng-model="aglEndMonth">
					<option ng-selected="{{$index == -1}}"
							ng-repeat="month in aglMonthList"
							value="{{month}}">
							{{month}}
					</option>
				</select>
				
				<select class = "" ng-model="aglEndYear">
					<option ng-selected="{{$index == -1}}"
							ng-repeat="year in aglYearList"
							value="{{year}}">
							{{year}}
					</option>
				</select>
			</div>
			
			<p> Description </p>
			<textarea id="area3" class = "TextSummary" ng-model = "aglDescibeExperience">
				
			</textarea> 
			</div>
			
			<h4><a href="#" ng-click="showDetails3 = ! showDetails3">
				<span ng-show="!showDetails3"> Edit </span>
				<span ng-show="showDetails3"> Record </span>
				</a>
			</h4>
		</div>
	</div>
	
	<div class = "HeaderSection">
		<div>
			<p class = "Header"> Languages </p>
			
			<div class = "ParentBox">
				<div class = "LanguagesBox_v1" ng-repeat="language in aglLanguages">	
					<img class = "editbtn" src = "images/edit.png" ng-click = "EditLanguage($index)"/>	
					<img class = "editbtn" src = "images/close.png" ng-click = "RemoveLanguage($index)"/>					
					<span class = "LanguageName"> {{language.name}} </span>
					<p class = "LanguageLV"> {{language.summary}} </p>
				</div>
			</div>
				
			<div>
			<table>
			<tr>
				<td>
					Language:   
				</td>
				<td>				
					<select class = "LangTable" name ="Lang" id ="Lang" ng-model="aglLanguage" ng-disabled="aglIsUpdating">
						<option ng-selected="{{$index == -1}}"
								ng-repeat="lang in aglLanguageList"
								value="{{lang.language}}">
								{{lang.language}}
						</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>
					Level:   
				</td>
				<td>				 
					<select class = "LangTable" name ="LV" id ="LV" ng-model="aglLevel">
						<option ng-selected="{{$index == -1}}"
								ng-repeat="lv in aglLevelList"
								value="{{lv}}">
								{{lv}}
						</option>
					</select>
				</td>
			</tr>
			<tr>
				<td class = "Error" colspan = "2">
					{{aglDuplicatedLangError}}
				</td>
			</tr>
			</table>	
			
			<div>
				<input ng-show = "!flag1" type = "button" value = "Add" ng-click ="AddLanguage()"/>
				<input ng-show = "flag1" type = "button" value = "Record" ng-click ="UpdateLanguage()"/>
			</div>
			</div>
		</div>
	</div>
	
	<div class = "HeaderSection">
		<div>
			<p class = "Header"> Skills </p>
			<input list="testList" type="" ng-model="SelectedDoctor" ng-change="LoadSessionData(SelectedDoctor)" placeholder = "Write your skills..."/>
			<datalist id="testList">
				<option ng-repeat="skill in aglSkillCatalog" value="{{skill}}">
			</datalist>
			
			<input type = "button" value = "Add" ng-click ="AddSkill()"/>
		</div>
		
		<div class = "ArrayDecription">
			<div ng-repeat="skill in aglSkills">
				<span class = "buttonWithX">
					{{skill}}
					<span class="close-btn"><a href="#" ng-click = "RemoveSkill($index)">X</a></span>
				</span>
			</div>
		</div>
	</div>	
	
	<div class = "HeaderSection">
		<div>		
			<p class = "Header"> Interests </p>		
			<input list="testList1" type="" ng-model="SelectedDoctor1" ng-change="LoadSessionData(SelectedDoctor1)" placeholder = "Write your interests..."/>
			<datalist id="testList1">
				<option ng-repeat="interest in aglInterestCatalog" value="{{interest}}">
			</datalist>
			
			<input type = "button" value = "Add" ng-click ="AddInterest()"/>
		</div>
		
		<div class = "ArrayDecription">
			<div ng-repeat="interest in aglInterests">
				<span class = "buttonWithX">
					{{interest}}
					<span class="close-btn"><a href="#" ng-click = "RemoveInterest($index)">X</a></span>
				</span>
			</div>
		</div>
	</div>
	
	<div>
		<h4><a href="#" ng-click="showDetails = ! showDetails">Kuro</a></h4>
         <div class="procedure-details" ng-show="showDetails">
            <p>Number of patient discharges: Shoro</p>
         </div>
	</div>

</body>	