<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title>1312094 - Nguyễn Minh Dũng</title>
	<meta charset='utf-8'/>
	<link rel="stylesheet" type="text/css" href="css/settings.css">
	<script type="text/javascript" src="scripts/angular.js"></script>
	<script type="text/javascript" src="scripts/firebase.js"></script>
    <script type="text/javascript" src="scripts/angularfire.min.js"></script>
	<script type="text/javascript" src="scripts/main1.js"></script>
</head>
<body ng-controller="myCtrl">
	<div class = "BodySection">
		<div  class = "Profile-TopCard">
			<table>
				<tr>
					<td rowspan = "6">
						<image ng-src = "{{aglUser.ProfileImage}}" />
					</td>
					<td>
						<span class = "FullName">
							{{aglUser.FullName}}
						</span>
					</td>
				</tr>
				<tr>
					<td>
						<span class = "Jobs">
							{{aglUser.Job}}
						</span>
					</td>
				</tr>
				<tr>
					<td>
						<span class = "Address">
							{{aglUser.AddressState}}, {{aglUser.AddressNation}}
						</span>
					</td>
				</tr>
				<tr>
					<td>
						<span class = "Email">
							{{aglUser.Email}}
						</span>
					</td>
				</tr>
				<tr>
					<td>
						<span class = "Email">
							{{aglUser.Nation}}
						</span>
					</td>
				</tr>
			</table>
		</div>
	</div>
	
	<div class = "BodySection">
		<div class = "HeaderSection" ng-repeat="header in aglUser.Headers">
			<div class = "Summary" ng-if="header == 'Summary'">
				<p class = "Header">
					{{header}}
				</p>
				<p class = "summaryContent"> {{aglUser.Summary}} </p>
				
			</div>
			
			<div ng-if="header == 'Education'">
				<p class = "Header">
					{{header}}

				</p>
				<div class = "Education" ng-repeat="education in aglUser.Education">
					<p class = "University"> {{education.university}}</p>
					<p class = "UAddress"> {{education.address}}</p>
					<p class = "Major"> {{education.major}}</p>
					<p class = "Period"> {{education.period}}</p>
					<span class = "UniversityLogo">
						<center>
							<image class = "Logo" ng-src = "{{education.logo}}"/>
						</center>
					</span>
				</div>
			</div>
			
			<div class = "Experience" ng-if="header == 'Experience'">
				<p class = "Header">
					{{header}}

				</p>
				
				<div class = "Education" ng-repeat="exp in aglUser.Experience">
					<div ng-if="$index != 0">
						<hr/>
					</div>
					<p class = "Company"> {{exp.company}}</p>
					<p class = "CompTitle"> {{exp.title}}</p>
					<p class = "Period"> {{exp.period}}</p>
					<p class = "CompSummary"> {{exp.summary}} </p>
				</div>
			</div>
			
			<div  ng-if="header == 'Skills'">
				<p class = "Header">
					{{header}}

				</p>
				<div class = "ParentBox">
					<div class = "SkillBox" ng-repeat="skill in aglUser.Skills">
						<input class = "SkillButton" type="button" value="{{skill}}"/>
					</div>
				</div>
			</div>
			
			<div ng-if="header == 'Languages'">
				<p class = "Header">
					{{header}}

				</p>
				<div class = "ParentBox">
					<div class = "LanguagesBox" ng-repeat="language in aglUser.Languages">
						<p class = "LanguageName"> {{language.name}} </p>
						<p class = "LanguageSummary"> {{language.summary}} </p>
					</div>
				</div>
			</div>
			
			<div class = "Projects" ng-if="header == 'Projects'">
				<p class = "Header">
					{{header}}

				</p>
				<div>
					<div ng-repeat="project in aglUser.Projects">
						<div ng-if="$index != 0">
							<hr/>
						</div>
						
						<p class = "ProjectName"> {{project.name}} </p>
						<p class = "ProjectSub"> By {{project.language}}, {{project.period}} </p>

						<p class = "ProjectSummary"> {{project.summary}} </p>
					</div>
				</div>
			</div>
			
			<div ng-if="header == 'Interests'">
				<p class = "Header">
					{{header}}

				</p>
				<div class = "ParentBox">
					<div class = "SkillBox" ng-repeat="interest in aglUser.Interests">
						<input class = "SkillButton" type="button" value="{{interest}}"/>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div>
		<center>
			<a href = "editInfo.html">	
				Edit Profile
			</a>
		</center>
	</div>


</body>
	