<!DOCTYPE html>
<html>
<head>
	<title>1312094 - Nguyễn Minh Dũng</title>
	<meta charset='utf-8'/>
	<link rel="stylesheet" type="text/css" href="css/settings.css">
	<script type="text/javascript" src="js/angular.js"></script>
</head>
<body ng-app="myApp" ng-controller="myCtrl">
	<div class = "BodySection">
		<div  class = "Profile-TopCard">
			<table>
				<tr>
					<td rowspan = "6">
						<image src = "images/profile.jpg" />
					</td>
					<td>
						<span class = "FullName">
							{{aglFullName}}
						</span>
					</td>
				</tr>
				<tr>
					<td>
						<span class = "Jobs">
							{{aglJob}}
						</span>
					</td>
				</tr>
				<tr>
					<td>
						<span class = "Address">
							{{aglAddress}}
						</span>
					</td>
				</tr>
				<tr>
					<td>
						<span class = "Email">
							{{aglEmail}}
						</span>
					</td>
				</tr>
			</table>
		</div>
	</div>
	
	<div class = "BodySection">
		<div class = "HeaderSection" ng-repeat="header in aglHeaders">
			<div class = "Summary" ng-if="header == 'Summary'">
				<p class = "Header">{{header}}</p>
				<p class = "summaryContent"> {{aglSummary}} </p>
			</div>
			<div ng-if="header == 'Education'">
				<p class = "Header">{{header}}</p>
				<div class = "Education" ng-repeat="education in aglEducation">
					<p class = "University"> {{education.university}}</p>
					<p class = "UAddress"> {{education.address}}</p>
					<p class = "Major"> {{education.major}}</p>
					<p class = "Period"> {{education.period}}</p>
					<span class = "UniversityLogo">
						<center>
							<image class = "Logo" ng-src = "{{education.logo}}"/>
						</center>
					</span>
				</div>
			</div>
			<div class = "Experience" ng-if="header == 'Experience'">
				<p class = "Header">{{header}}</p>
			</div>
			<div class = "Skills" ng-if="header == 'Skills'">
				<p class = "Header">{{header}}</p>
			</div>
			<div class = "Languages" ng-if="header == 'Languages'">
				<p class = "Header">{{header}}</p>
			</div>
			<div class = "Projects" ng-if="header == 'Projects'">
				<p class = "Header">{{header}}</p>
			</div>
			<div class = "Interests" ng-if="header == 'Interests'">
				<p class = "Header">{{header}}</p>
			</div>
		</div>
	</div>
	
	<script type="text/javascript" src="js/main.js"></script>
</body>
	